<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    

<main class="container">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> Page</h1>
    <!--My photo-->
    <img src="img/mypicture.jpg" alt="my photo" class="mypic">
    <p>Hi! My name is Anne Mistry.</p>
    <p>I am a student at Centennial College. I am currently enrolled in Software Engineering Technician Online program. I am in my third semester out of four. </p>
    <p>I have some experience in making HTML webpages, and am learning more about Web Application Development. I hope to do well this semester and learn to program more and to make great websites!</p>
    <p>To find out more about my previous projects and what i can do, please click on my <a href="projects">projects</a> link.</p>
    <!--My resume is linked below-->
    <p>Here is a copy of my <a href="img/resume.pdf" target="_blank">resume</a> if you like to know more about my experiences and education!</p>
    </div>
</main>

      <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>



   