<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> Page</h1>
    <div class="section">
    <h4>Project 1: Bug Smasher 2000</h4>
    
    <img src="img/bugsmasher.png" alt="Bug Smasher Game" class="bugsmash">
    <p>This is a JacaScript project I created in 2023. 
        I was asked to create a web game in which a bug will appear in random spots around the screen and every time the player clicks on the bug, the score will increase as will the bug's speed.
        The game also has an option to reset the speed while keeping the score and another button where you can reset the game completely. 
    </p>
    </div>
    <hr>
    <div class="section">
    <h4>Project 2</h4>
    </div>
    <hr>
    <div class="section">
    <h4>Project 3</h4>
    </div>
    </div>
</main>

      <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>



   