<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

    <!--<img src="img/logo.png" alt="logo">-->

<main class="container">
<div class="jumbotron">

    <h1>Welcome to my <%= title %> Page</h1>
    <div class="section">
    <h4>Project 1: Bug Smasher 2000</h4>
    <br>
    <img src="img/bugsmasher.png" alt="Bug Smasher Game" class="bugsmash">
    <p>This is a JavaScript project I created in 2023. I wrote the HTML and JavaScript code for this web game. 
        I was asked to create a web game in which a bug will appear in random spots around the screen and every time the player clicks on the bug, the score will increase as will the bug's speed.
        The game also has an option to reset the speed while keeping the score and another button where you can reset the game completely. 
    </p>
    </div>
    <hr>
    <div class="section">
    <h4>Project 2: Two For One Slideshow</h4>
    <br>
    <img src="img/Slideshow.png" alt="Self Moving Slideshow" class="slideshow">
    <p>This is another JavaScript project I created. This is another individual project I made.
        I was asked to create a self moving slideshow webpage. It would have the option to click through the pictures as well as being able to move on its own.
        There is a button to update the images which toggle between two collection of images as to which collection will be displayed. 
    </p>
    </div>
    <hr>
    <div class="section">
    <h4>Project 3</h4>
    <br>
    </div>
    </div>
</main>

      <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>



   