<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


<main class="container">
<div class="jumbotron" style="height:100%">

    <h1>Welcome to my <%= title %> Page</h1>
    <div clas="section">
        <img src="img/coding.jpg" alt="coding photo" class="codingimg">
    <p>Here are some of the services I can provide:</p>
    <ul>
        <li>General Coding</li>
        <li>Creating a Database</li>
        <li>Web Development</li>
        <li>Application Testing</li>
    </ul>
    </div>
    <br>
    </div>
</main>

      <%- include partials/bottom_nav.ejs %>
      <%- include partials/footer.ejs %>
 


   